.nav {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 20px;
}

.form-control {
  border: 1px solid #ccc;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #e01818;
}

.btn-group > .btn {
  margin-right: 5px;;
}
